@import "tailwindcss";

@theme {
    --color-hy-blue: #2CB2FD;
    --color-hy-dark: #344B66;
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        @apply bg-white text-hy-dark antialiased;
    }
}